Combining Datasets	
    Concat and Append
	Concatenating NumPy arrays
	pd.concat

1.Concat and Append
np.concatenate()
pd.concat()
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

In [6]:
#series
import pandas as pd
import numpy as np
a=pd.Series([1,2,3],index=['a','b','c'])
b=pd.Series([6,7,8],index=['d','e','f'])
print(pd.concat([a,b]))
#df
c=pd.DataFrame([1,2,3,4,5])
d=pd.DataFrame([6,7,8,9,10])
pd.concat([c,d])

a    1
b    2
c    3
d    6
e    7
f    8
dtype: int64

    0
0   1
1   2
2   3
3   4
4   5
0   6
1   7
2   8
3   9
4  10

In [7]:
#Append()
print(a.append(b))

a    1
b    2
c    3
d    6
e    7
f    8
dtype: int64

C:\Users\bjawa\AppData\Local\Temp\ipykernel_66288\3939881552.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(a.append(b))

In [10]:
#Concatenate by numpy arrays
n1=np.array([0,1,2,3])
n2=np.array([4,5,6,7])
np.concatenate((n1,n2))

array([0, 1, 2, 3, 4, 5, 6, 7])

Merge and Join Datasets	
    =>pd.merge
    Merge and Join
	Relational Algebra
    =>merge, join 
	Categories of Joins
	Specification of the Merge Key
	Specifying Set Arithmetic for Joins
	The suffixes Keyword

In [24]:
#Merge
#The two df should have one same column or index 
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
c=pd.merge(df1,df2)
print(c)
#Join
print(pd.merge(df1,df2,how='inner'))
print(pd.merge(df1,df2,how='outer'))
print(pd.merge(df1,df2,how='left'))
print(pd.merge(df1,df2,how='right'))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  hire_date
0     Lisa  Engineering       2004
1      Bob   Accounting       2008
2     Jake  Engineering       2012
3      Sue           HR       2014

In [33]:
#Merge keys:
#on
#left_on
#right_on
#ON keyword:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
print(pd.merge(df1,df2, on='employee'))
print(pd.merge(df1,df3, left_on='employee', right_on='name'))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [23]:
#Suffix keyyword
dfc1 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [1, 2, 3, 4]})
dfc2 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [3, 1, 4, 2]})
print(pd.merge(dfc1,dfc2,on='name' ,suffixes=["_c1", "_c2"]))

   name  rank_c1  rank_c2
0   Bob        1        3
1  Jake        2        1
2  Lisa        3        4
3   Sue        4        2


Aggregation and Grouping
    =>Sum , min , max etc...
    =>describe() fn will help to identify the entire agg fns
    1.Planets Data - Seaborn Lib
	2.Simple Aggregation in Pandas
	3.GroupBy: Split, Apply, Combine

In [9]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.24.1)
Requirement already satisfied: pandas>=0.25 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.5.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.6.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (22.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\bjawa\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import seaborn as sb
import pandas as pd
planentsdata=sb.load_dataset('planets')
print(planentsdata)
#agg
a=pd.DataFrame(planentsdata)
print(a)
print(a.isnull())
print(a.dropna().describe())

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]
               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]
      method  number  orbital_period   mass  distance   year
0      False   False           False  False     False  False
1      False   False           False  False     False  False
2      False   False           False  False     False  False
3      False   False           False  False     False  False
4      False   False           False  False     False  False
...      ...     ...             ...    ...       ...    ...
1030   False   False           False   True     False  False
1031   False   False           False   True     False  False
1032   False   False           False   True     False  False
1033   False   False           False   True     False  False
1034   False   False           False   True     False  False

[1035 rows x 6 columns]
          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

Simple Aggregation in Pandas
sum()         :Compute sum of column values
min()          :Compute min of column values
max()         :Compute max of column values
mean()       :Compute mean of column
size()          :Compute column sizes
describe()  :Generates descriptive statistics
first()          :Compute first of group values
last()          :Compute last of group values
count()       :Compute count of column values
std()           :Standard deviation of column
var()           :Compute variance of column

In [7]:
import numpy as np
rng=np.random.RandomState(42)
ser=pd.Series(rng.rand(10))
#print(ser)
print(ser.sum())
print(ser.mean())
print(ser.describe())

5.201367359526748
0.5201367359526748
count    10.000000
mean      0.520137
std       0.315866
min       0.058084
25%       0.210649
50%       0.599887
75%       0.726014
max       0.950714
dtype: float64

GroupBy: 
Split=>break the value and then group 
Apply=>apply agg, filtering , Tranformation 
Combine=>Merge

In [11]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
#print(df)
#Group by 
print(df.groupby('key').sum())
#Apply

b=df.groupby('key').aggregate(['min', np.median, max])
#print(b)
c=df.groupby('key').transform(lambda x: x +5)
#print(c)
c1=df.groupby('key').transform(lambda x:x*5)
c2=df.groupby('key').transform(lambda x:x//2)
#print(c1)
#print(c2)

#filter
d=df.filter('data') # Filtering a column name
print(d)

# Filering with logic

f1=['a','b','c','d','e']
def pickthechar(a):
    i=['a','e']
    if(a in i):
        return True
    else:
        return False
fil1=filter(pickthechar,f1)
print(fil1)
for j in fil1:
    print(j)

     data
key
A       3
B       5
C       7
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]
<filter object at 0x000001968C585DB0>
a
e

In [63]:
import pandas as pd
def fnlambdaaltr(x):
    return x -x.mean()
data = {
  "a": [2, 6, 3],
  "b": [4, 25, 50]
}
df=pd.DataFrame(data)
dftrans=df.transform(fnlambdaaltr) # If you want to convert data 
print(dftrans)

          a          b
0 -1.666667 -22.333333
1  2.333333  -1.333333
2 -0.666667  23.666667

In [73]:
#Combine=>Merge

df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'name': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
print(pd.merge(df1,df2, left_on='employee', right_on='name'))
#Renaming
df2.rename(columns={'name':'employee'},inplace=True) #Rename the column 
print(df2.columns)
print(pd.merge(df1, df2, on='employee'))

  employee        group  name  hire_date
0      Bob   Accounting   Bob       2008
1     Jake  Engineering  Jake       2012
2     Lisa  Engineering  Lisa       2004
3      Sue           HR   Sue       2014
Index(['employee', 'hire_date'], dtype='object')
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014