1.Handling Missing Data	
    #null , Nan , NA values 
    a.Trade-Offs in Missing Data Conventions
        Two strategies:
        1.Mask approach - Boolean array 01010101
        2.Sentinel Value approach - NaN , none
	b.Missing Data in Pandas
	c.Operating on Null Values

In [8]:
#Missing Data in Pandas
import pandas as pd
import numpy as np
npa=np.array([1,None,2,3])
print(npa)
#Can you perform addition ?
#print(npa.sum())
#Missing data in Numerical i/p
npa2=np.array([1,np.nan,2,3])
print(npa2)
print(1+npa2)
print(1+np.nan)
print(1*np.nan)
print(npa2.sum(),npa2.max(),npa2.min())

[1 None 2 3]
[ 1. nan  2.  3.]
[ 2. nan  3.  4.]
nan
nan
nan nan nan

Operating/Handling on Null Values
=>Detect the null value (isnull(),notnull())
=>Drop the null value (dropna())
=>Fill the null value (fillna())
1.isnull()
2.notnull()
3.dropna()
4.fillna()

In [10]:
a=pd.Series([0,np.nan,'S',None])
print(a.isnull())
print(a[a.notnull()]) #It will print only the not null value

0    False
1     True
2    False
3     True
dtype: bool
0    0
2    S
dtype: object

In [12]:
#Drop null 
print(a.dropna()) #It will return only the value items

0    0
2    S
dtype: object
0       0
1     NaN
2       S
3    None
dtype: object

In [17]:
#Fill null values
print(a.fillna(0)) # It will fill the null value with given data
print(a)
#Forward fill & backward fill
print(a.fillna(method='ffill'))
print(a.fillna(method='bfill'))

#Create a dataframe with 3*2 dimension and assign values manually without
#using rand fun and fill 2 null values and 1 numerical null , fist find how many and print the o/p
#Then handle that by filling it with value 0 

#o/p: 
#3
#3*2 matrix w/o null values

0    0
1    0
2    S
3    0
dtype: object
0       0
1     NaN
2       S
3    None
dtype: object
0    0
1    0
2    S
3    S
dtype: object
0       0
1       S
2       S
3    None
dtype: object

2.Hierarchical Indexing	 (Multi Index)
    =>Panel (3D) & Panel4D (4D)
    
    A Multiply Indexed Series
	Methods of MultiIndex Creation
	Indexing and Slicing a MultiIndex
	Rearranging Multi-Indices
	Data Aggregations on Multi-Indices

In [19]:
a = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
print(a)
b = pd.MultiIndex.from_tuples(a)
print(b)

[('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]
MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [20]:
#Methods of MultiIndex Creation (Series & DF)
df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
print(df)

        data1     data2
a 1  0.199899  0.918030
  2  0.039997  0.696558
b 1  0.576623  0.802441
  2  0.294899  0.860639

In [22]:
#Creating Multiindex for series
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
a=pd.Series(data)
print(a)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64