Combining Datasets	
    Concat and Append
	Concatenating NumPy arrays
	pd.concat

1.Concat and Append
np.concatenate()
pd.concat()
pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

In [6]:
#series
import pandas as pd
import numpy as np
a=pd.Series([1,2,3],index=['a','b','c'])
b=pd.Series([6,7,8],index=['d','e','f'])
print(pd.concat([a,b]))
#df
c=pd.DataFrame([1,2,3,4,5])
d=pd.DataFrame([6,7,8,9,10])
pd.concat([c,d])

a    1
b    2
c    3
d    6
e    7
f    8
dtype: int64

    0
0   1
1   2
2   3
3   4
4   5
0   6
1   7
2   8
3   9
4  10

In [7]:
#Append()
print(a.append(b))

a    1
b    2
c    3
d    6
e    7
f    8
dtype: int64

C:\Users\bjawa\AppData\Local\Temp\ipykernel_66288\3939881552.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(a.append(b))

In [10]:
#Concatenate by numpy arrays
n1=np.array([0,1,2,3])
n2=np.array([4,5,6,7])
np.concatenate((n1,n2))

array([0, 1, 2, 3, 4, 5, 6, 7])

Merge and Join Datasets	
    =>pd.merge
    Merge and Join
	Relational Algebra
    =>merge, join 
	Categories of Joins
	Specification of the Merge Key
	Specifying Set Arithmetic for Joins
	The suffixes Keyword

In [24]:
#Merge
#The two df should have one same column or index 
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
c=pd.merge(df1,df2)
print(c)
#Join
print(pd.merge(df1,df2,how='inner'))
print(pd.merge(df1,df2,how='outer'))
print(pd.merge(df1,df2,how='left'))
print(pd.merge(df1,df2,how='right'))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  hire_date
0     Lisa  Engineering       2004
1      Bob   Accounting       2008
2     Jake  Engineering       2012
3      Sue           HR       2014

In [33]:
#Merge keys:
#on
#left_on
#right_on
#ON keyword:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
print(pd.merge(df1,df2, on='employee'))
print(pd.merge(df1,df3, left_on='employee', right_on='name'))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

In [23]:
#Suffix keyyword
dfc1 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [1, 2, 3, 4]})
dfc2 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'rank': [3, 1, 4, 2]})
print(pd.merge(dfc1,dfc2,on='name' ,suffixes=["_c1", "_c2"]))

   name  rank_c1  rank_c2
0   Bob        1        3
1  Jake        2        1
2  Lisa        3        4
3   Sue        4        2


Aggregation and Grouping	
    Planets Data
	Simple Aggregation in Pandas
	GroupBy: Split, Apply, Combine